In [22]:
import pandas as pd 

football_players = pd.read_csv('football_players.csv')

football_games = pd.read_csv('football_games.csv')

cars = pd.read_csv('cars.csv')

In [40]:
cars.dtypes

ad_Id                 int64
ad_date              object
ad_loc1              object
ad_loc2              object
brand                object
series               object
model                object
year                  int64
mileage              object
transmission         object
fuel_type            object
body_type            object
color                object
engine_capacity      object
engine_power         object
drive_type           object
vehicle_condition    object
fuel_consumption     object
fuel_tank            object
paint/replacement    object
trade_in             object
seller_type          object
seller_name          object
ad_price             object
ad_url               object
dtype: object

In [46]:
cars['ad_price'].unique().values

2216

In [34]:
cars['ad_date'].unique()

array(['25 Aralık 2024', '24 Aralık 2024', '23 Aralık 2024',
       '22 Aralık 2024', '21 Aralık 2024', '20 Aralık 2024',
       '19 Aralık 2024', '18 Aralık 2024', '17 Aralık 2024',
       '16 Aralık 2024', '15 Aralık 2024', '14 Aralık 2024',
       '13 Aralık 2024', '12 Aralık 2024', '11 Aralık 2024',
       '10 Aralık 2024', '09 Aralık 2024', '08 Aralık 2024',
       '07 Aralık 2024', '06 Aralık 2024', '05 Aralık 2024',
       '04 Aralık 2024', '03 Aralık 2024', '02 Aralık 2024',
       '01 Aralık 2024', '30 Kasım 2024', '29 Kasım 2024',
       '28 Kasım 2024', '27 Kasım 2024', '26 Kasım 2024', '25 Kasım 2024',
       '22 Kasım 2024', '21 Kasım 2024', '20 Kasım 2024', '19 Kasım 2024',
       '18 Kasım 2024', '17 Kasım 2024', '16 Kasım 2024', '15 Kasım 2024',
       '14 Kasım 2024', '13 Kasım 2024', '12 Kasım 2024', '11 Kasım 2024',
       '10 Kasım 2024', '09 Kasım 2024', '08 Kasım 2024', '07 Kasım 2024',
       '05 Kasım 2024', '04 Kasım 2024', '03 Kasım 2024', '02 Kasım 2024',
       '01 Kasım 2024', '31 Ekim 2024', '30 Ekim 2024', '29 Ekim 2024',
       '28 Ekim 2024', '27 Ekim 2024', '23 Kasım 2024', '27 Aralık 2024',
       '26 Aralık 2024', '24 Kasım 2024', '06 Kasım 2024'], dtype=object)

In [32]:
cars.tail(2).T

,11986,11987
ad_Id,27476324,27457617
ad_date,27 Aralık 2024,25 Aralık 2024
ad_loc1,Koşuyolu Mh. Kadıköy,Liman Mh. Konyaaltı
ad_loc2,İstanbul,Antalya
brand,Audi,Audi
series,A5,A3
model,A5 Sportback 40 TDI Quattro Advanced,A3 Sedan 1.6 TDI Attraction
year,2024,2015
mileage,6.142 km,162.000 km
transmission,Yarı Otomatik,Yarı Otomatik
fuel_type,Dizel,Dizel
body_type,-,Sedan
color,Siyah,Beyaz
engine_capacity,1968 cc,1598 cc
engine_power,204 hp,110 hp
drive_type,4WD (Sürekli),Önden Çekiş
vehicle_condition,İkinci El,İkinci El
fuel_consumption,Unspecified,Unspecified
fuel_tank,58 lt,50 lt
paint/replacement,Tamamı orjinal,"3 değişen, 2 boyalı"
trade_in,Takasa Uygun Değil,Unspecified
seller_type,Galeriden,Sahibinden
seller_name,PLATİN OTO,TUNCAY Ç.
ad_price,3.725.000 TL,859.999 TL
ad_url,https://www.arabam.com/ilan/galeriden-satilik-...,https://www.arabam.com/ilan/sahibinden-satilik...

ad_Id                 int64
ad_date              object
ad_loc1              object
ad_loc2              object
brand                object
series               object
model                object
year                  int64
mileage              object
transmission         object
fuel_type            object
body_type            object
color                object
engine_capacity      object
engine_power         object
drive_type           object
vehicle_condition    object
fuel_consumption     object
fuel_tank            object
paint/replacement    object
trade_in             object
seller_type          object
seller_name          object
ad_price             object
ad_url               object
dtype: object

In [33]:
f_games = '''Wk = models.IntegerField()
Day = models.CharField(max_length=255)
Date = models.DateField()
Time = models.TimeField()
Home = models.CharField(max_length=255)
Away = models.CharField(max_length=255)
xG = models.FloatField()
xG_1 = models.FloatField()
Score = models.CharField(max_length=255)
season = models.CharField(max_length=255)
game_id = models.IntegerField()'''.split('\n')

game_cols = [i.split('=')[0].strip() for i in f_games]

for g_c in game_cols:
    if g_c not in football_games.columns:
        print(g_c)

xG_1

In [34]:
f_players = '''index = models.IntegerField()
Player = models.CharField(max_length=255)
number = models.IntegerField()
Nation = models.CharField(max_length=255)
Pos = models.CharField(max_length=255)
Age = models.FloatField()
Min = models.IntegerField()
Gls = models.IntegerField()
Ast = models.IntegerField()
PK = models.IntegerField()
PKatt = models.IntegerField()
Sh = models.IntegerField()
SoT = models.IntegerField()
CrdY = models.IntegerField()
CrdR = models.IntegerField()
Touches = models.IntegerField()
Tkl = models.IntegerField()
Int = models.IntegerField()
Blocks = models.IntegerField()
xG = models.FloatField()
npxG = models.FloatField()
xAG = models.FloatField()
SCA = models.IntegerField()
GCA = models.IntegerField()
Cmp_x = models.FloatField()
Att_x = models.FloatField()
Cmp_pct_x = models.FloatField()
PrgP = models.IntegerField()
Carries = models.IntegerField()
PrgC = models.IntegerField()
Att_x_alt = models.FloatField()
Succ = models.FloatField()
SoTA = models.FloatField()
GA = models.FloatField()
Saves = models.FloatField()
Save_pct = models.FloatField()
PSxG = models.FloatField()
Cmp_y = models.FloatField()
Att_y = models.FloatField()
Cmp_pct_y = models.FloatField()
Att_GK = models.FloatField()
Thr = models.FloatField()
Launch_pct = models.FloatField()
AvgLen = models.FloatField()
Opp = models.FloatField()
Stp = models.FloatField()
Stp_pct = models.FloatField()
OPA = models.IntegerField()
AvgDist = models.FloatField()
home = models.CharField(max_length=255)
game_id = models.IntegerField()'''.split('\n')

player_cols = [i.split('=')[0].strip() for i in f_players]

for p_c in player_cols:
    if p_c not in football_players.columns:
        print(p_c)

number
Cmp_pct_x
Att_x_alt
Save_pct
Cmp_pct_y
Att_GK
Launch_pct
Stp_pct
OPA

In [14]:
football_players.head()

,index,Player,#,Nation,Pos,Age,Min,Gls,Ast,PK,...,Stp,Stp%,#OPA,AvgDist,home,game_id,Cmp,Att,Cmp%,Att.1
0,0,15 Players,NaN,NaN,NaN,NaN,990.0,1.0,1.0,0.0,...,NaN,NaN,NaN,NaN,1,0,NaN,NaN,NaN,NaN
1,1,Alassane Pléa,14.0,fr FRA,FW,28-156,63.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,1,0,NaN,NaN,NaN,NaN
2,2,Christoph Kramer,6.0,de GER,DM,30-175,90.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,1,0,NaN,NaN,NaN,NaN
3,3,Florian Neuhaus,32.0,de GER,DM,24-150,89.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,1,0,NaN,NaN,NaN,NaN
4,4,Hannes Wolf,11.0,at AUT,LW,22-119,71.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,1,0,NaN,NaN,NaN,NaN

In [15]:
football_games

,Wk,Day,Date,Time,Home,Away,Score,xG,xG.1,season,game_id
0,1.0,Fri,2023-08-18,20:30,Werder Bremen,Bayern Munich,0â4,0.6,2.8,2023-2024,0.0
1,1.0,Sat,2023-08-19,15:30,Leverkusen,RB Leipzig,3â2,1.4,1.6,2023-2024,1.0
2,1.0,Sat,2023-08-19,15:30,Wolfsburg,Heidenheim,2â0,2.2,1.2,2023-2024,2.0
3,1.0,Sat,2023-08-19,15:30,Stuttgart,Bochum,5â0,3.0,0.8,2023-2024,3.0
4,1.0,Sat,2023-08-19,15:30,Augsburg,Gladbach,4â4,2.3,1.7,2023-2024,4.0
...,...,...,...,...,...,...,...,...,...,...,...
16541,38.0,Sun,2020-08-02,18:00,SPAL,Fiorentina,1â3,0.5,2.3,2019-2020,416.0
16542,38.0,Sun,2020-08-02,20:45,Genoa,Hellas Verona,3â0,0.8,1.1,2019-2020,417.0
16543,38.0,Sun,2020-08-02,20:45,Sassuolo,Udinese,0â1,1.3,1.7,2019-2020,418.0
16544,38.0,Sun,2020-08-02,20:45,Bologna,Torino,1â1,0.9,1.9,2019-2020,419.0
16545,38.0,Sun,2020-08-02,20:45,Lecce,Parma,3â4,2.7,3.2,2019-2020,420.0

In [9]:
football_games.head()

,Unnamed: 0.1,Unnamed: 0,Wk,Day,Date,Time,Home,Away,Score,xG,xG.1,season,game_id
0,0,0,1.0,Fri,2023-08-18,20:30,Werder Bremen,Bayern Munich,0â4,0.6,2.8,2023-2024,0.0
1,1,1,1.0,Sat,2023-08-19,15:30,Leverkusen,RB Leipzig,3â2,1.4,1.6,2023-2024,1.0
2,2,2,1.0,Sat,2023-08-19,15:30,Wolfsburg,Heidenheim,2â0,2.2,1.2,2023-2024,2.0
3,3,3,1.0,Sat,2023-08-19,15:30,Stuttgart,Bochum,5â0,3.0,0.8,2023-2024,3.0
4,4,4,1.0,Sat,2023-08-19,15:30,Augsburg,Gladbach,4â4,2.3,1.7,2023-2024,4.0